
div#banner {
	width: 100%;
	height: 210px; 
	overflow: hidden;
	background-image: url(../images/mont-fort.jpg);	
	background-size: 100% auto;
	background-repeat: no-repeat;
}


img#headshot {
	max-width: 160px;
	height: auto; 
}

.grayed { color: #BBB; }
.right-align {text-align: right; }

a.dotted, article p a {    
    border-bottom: 1px dotted #888;
    text-decoration: none;
}

div#sidebar li {
		font-family: "pt-serif";
		font-size: 24px;
		line-height: 24px;
		font-weight: 500;
		color: black;
	}
div#sidebar li a { color: black; }
div#sidebar li a:hover { color: #c03d20; }
div#sidebar li.selected a { color: #888; }


div.hr-fancy {
	border-top: #aaa 1px solid;
	border-right: #aaa 140px solid;
	margin-bottom: 10px;
	height: 2px;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.fa:hover {color: #c03d20}
.text-highlight, a.keywords { background-color: #FDFF69; }

ol.bibliography { list-style: none; margin-left: 0px;}

ol.bibliography i {font-style: italic;}

table.cv {
	width: 100%;
}
.date {
	text-align: right;
}
article h1,h2,h3,h4, .gfont {
	font-family: Oswald;
}

.gfont.light {
	font-weight: 300;
}

code {
	font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	font-size: 90%;
}

dl.archive div.archive-item {
	display: inline-block;
	padding-bottom: 30px;
}

dl.archive div.archive-item dt, .fade {
	opacity: 0.2;	
	-webkit-transition: opacity 0.07s ease-in;
	-moz-transition: opacity 0.07s ease-in;
	-ms-transition: opacity 0.07s ease-in;
	-o-transition: opacity 0.07s ease-in;
	transition: opacity 0.07s ease-in;
}
dl.archive div.archive-item:hover * {
	opacity: 1
}

@media only screen and (min-width: 767px) {
	div.footnotes ol {	
	    width: 120px;
	    font-size: 8pt;
	    margin-left: 0;
	    list-style-position: inside;
	}
	div.footnotes li {
		border-left:  solid 1px #ddd;
	    padding-left: 9px;
	    text-align: left; 
	    font-style: italic;
	}
	a.reversefootnote {
		display: none;
	}
	article {
		padding-bottom: 300px
	}
}
@media only screen and (max-width: 767px) {
	div#sidebar ul {
		text-align: center;
		line-height: 32px;
	}
	div#sidebar li {
		display: inline;
		margin-left: 7px;
		margin-right: 7px;
	}
	div.hr-fancy {
		border-right: 0px;
	}
	div#banner {
		background-image: url(../images/mont-fort.320px.jpg);
		display: inline-block;
		width: 100%;
		font-size: 0;
		line-height: 0;
		background-size: 100%;
		overflow: hidden;
		background-repeat: no-repeat;
		height: 70px !important;
	}
}