<!DOCTYPE html>
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
    <head>

      <!-- Basic Page Needs
      ================================================== -->
      <meta charset="utf-8">
      <title>{{ page.title }}</title>
      <meta name="description" content="">
      <meta name="author" content="">

      <!-- Mobile Specific Metas
      ================================================== -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <!-- CSS
      ================================================== -->
      <link rel="stylesheet" href="/css/base.css">
      <link rel="stylesheet" href="/css/skeleton.css">
      <link rel="stylesheet" href="/css/layout.css">
      <link rel="stylesheet" href="/css/custom.css">
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <!-- Favicons
      ================================================== -->
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
      
      <!-- FontAwesome
      ================================================== -->
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      
      <!-- Metadata /-->
      <meta name="description" content="">
      <meta name="keywords" content="">
      <meta name="author" content="humans.txt">
      <!-- RSS Feed /-->
      <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
      <!-- Facebook Metadata /-->
      <meta property="fb:page_id" content="">
      <meta property="og:image" content="">
      <meta property="og:description" content="">
      <meta property="og:title" content="">
      <!-- Google+ Metadata /-->
      <meta itemprop="name" content="">
      <meta itemprop="description" content="">
      <meta itemprop="image" content="">
      <!-- Page-specific styling /-->
      <style>
        div#sidebar li a[id="{{ page.sidebarlink }}-link"] { color: #888; }
      </style>
    </head>
    <body>
  <div id="banner">
  <!-- <img  src="images/mont-fort.jpg" /> -->
  </div>
  <div class="container clearfix">
    <div class="sixteen columns" style="margin-bottom: 30px !important">
      <!-- a spacer between the banner image and the content-->
    </div>
    <div class="four columns" id="sidebar">
      <ul>
        <li><a id="index-link" href='/index.html'>home</a></li>
        <li><a id="posts-link" href='/posts.html'>/posts</a></li>
        <li><a id="publications-link" href='/publications.html'>/publications</a></li>
        <li><a id="about-link" href=''>/about</a></li>
        <li><a id="github-link" href=''>/github</a></li>
        <li><a id="projects-link" href=''>/projects</a></li>
        <li><a id="api-link" href=''>/api</a></li>
        <li><a id="contact-link" href=''>/contact</a></li>
      </ul>

      <!-- <img id="headshot" src='images/niklas_krumm.jpg'/> -->
    </div>
    
    {{ content }}

  </div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>